.mat-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

td,
th {
  padding: 0 10px !important;
}

.warning-over-table {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 520px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 19px 0;
  color: darkslategray;
}
