<mat-toolbar>
  <span> Import Order </span>
</mat-toolbar>

<mat-horizontal-stepper [@.disabled]="true" [linear]="true">
  <mat-step [completed]="order">
    <ng-template matStepLabel>Find Order</ng-template>
    <div class="step-content">
      <app-orders-table
        [displayedOrderColumns]="displayedOrderColumns"
        [orders]="store.externalOrders"
        (rowClick)="onOrderRowClick($event)"
      >
      </app-orders-table>
    </div>
    <div class="button-bar">
      <button mat-raised-button (click)="onCancelClick()">Cancel</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Prepare Products</ng-template>
    <div class="step-content">
      <div *ngIf="order" class="breadcrumb">
        <span class="link" (click)="stepper.reset()">My Orders</span> | Order
        {{ order?.id }}
      </div>
      <app-order-items-table
        *ngIf="order?.orderItems"
        [orderItems]="order.orderItems"
      ></app-order-items-table>
    </div>
    <div class="button-bar">
      <button mat-raised-button matStepperPrevious>Previous</button>
      <button mat-raised-button matStepperNext>Next</button>
      <button mat-raised-button (click)="onCancelClick()">Cancel</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Confirm Order</ng-template>
    <div class="step-content">
      <div
        style="overflow-y: auto; max-height: 420px;"
        *ngIf="order?.orderItems"
      >
        <div style="min-height: 150px;">
          <h3>Items</h3>
          <div *ngFor="let item of order.orderItems" style="padding: 5px;">
            <mat-checkbox
              style="margin-right: 5px;"
              disabled
              [checked]="item.selected"
            >
            </mat-checkbox>
            {{ item.sku }},
            {{ item.name }}
            <ng-container *ngIf="item.option">
              ,
              <mat-icon>{{ item.option.icon }}</mat-icon>
              {{ item.option.text }}
            </ng-container>
          </div>
        </div>

        <div class="two-column">
          <div>
            <h3>Shipping</h3>
            {{ order.customer }}<br />
            {{ order.address.street }}<br />
            {{ order.address.city }}<br />
            {{ order.address.zip }}<br />
            {{ order.address.state }}<br />
            {{ order.address.country }}<br />
          </div>
          <div>
            <h3>Production Subtotal</h3>
            ...
          </div>
        </div>
        <!-- <pre>{{ order | json }}</pre> -->
      </div>
    </div>
    <div class="button-bar">
      <button mat-raised-button matStepperPrevious>Previous</button>
      <button mat-raised-button [mat-dialog-close]="order">
        Confirm and Ship
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
