.mat-stepper-horizontal {
  margin-top: 20px;

  .button-bar {
    text-align: right;
    button {
      margin-left: 16px;
    }
  }

  .step-content {
    padding-bottom: 16px;
    min-height: 432px;
  }
}

.breadcrumb {
  padding-left: 24px;
  font-weight: bold;
}
