<mat-toolbar>
  <span> Import Order </span>
</mat-toolbar>

<mat-horizontal-stepper [@.disabled]="true" [linear]="true" *mobxAutorun>
  <mat-step [completed]="store.selectedOrder">
    <ng-template matStepLabel>Find Order</ng-template>
    <div class="step-content" *ngIf="store.importableOrders.length">
      <app-orders-table
        [displayedOrderColumns]="displayedOrderColumns"
        [orders]="store.importableOrders"
        (rowClick)="onOrderRowClick($event)"
      >
      </app-orders-table>
    </div>
    <div class="button-bar">
      <button mat-raised-button (click)="onCancelClick()">Cancel</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Prepare Products</ng-template>
    <div class="step-content">
      <div *ngIf="store.selectedOrder" class="breadcrumb">
        <span class="link" (click)="stepper.reset()">My Orders</span> | Order
        {{ store.selectedOrder?.id }}
      </div>
      <app-order-items-table
        *ngIf="store.selectedOrder?.orderItems"
        [orderItems]="store.selectedOrder.orderItems"
      ></app-order-items-table>
    </div>
    <div class="button-bar">
      <button mat-raised-button matStepperPrevious>Previous</button>
      <button mat-raised-button matStepperNext>Next</button>
      <button mat-raised-button (click)="onCancelClick()">Cancel</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Confirm Order</ng-template>
    <div class="step-content">
      <app-order-details></app-order-details>
    </div>
    <div class="button-bar">
      <button mat-raised-button matStepperPrevious>Previous</button>
      <button mat-raised-button [mat-dialog-close]="store.selectedOrder">
        Confirm and Ship
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
