<div class="toolbar mat-elevation-z8">
  <mat-toolbar>
    <span> Orders </span>
    <span class="spacer"> </span>
    <button mat-raised-button color="primary" (click)="openImportDialog()">
      Import orders
    </button>
    <button mat-raised-button>NA1</button>
    <button mat-raised-button>NA2</button>
  </mat-toolbar>
</div>

<div class="mat-elevation-z8" style="padding: 16px 16px 0;">
  <app-orders-table
    [displayedOrderColumns]="displayedOrderColumns"
    [orders]="store.mainOrders"
    [pageSizeOptions]="[10, 30, 100]"
    (rowClick)="onRowClick($event)"
  ></app-orders-table>
</div>
