<div style="overflow-y: auto; max-height: 420px;" *ngIf="order?.orderItems">
  <div style="min-height: 150px;">
    <h3>Items</h3>
    <div *ngFor="let item of order.orderItems" style="padding: 5px;">
      <mat-checkbox
        style="margin-right: 5px;"
        disabled
        [checked]="item.selected"
      >
      </mat-checkbox>
      {{ item.amount }} x {{ item.SKU }},
      {{ item.name }}
      <ng-container *ngIf="item.option">
        ,
        <mat-icon>{{ item.option.icon }}</mat-icon>
        {{ item.option.text }}
      </ng-container>
    </div>
  </div>

  <div class="two-column">
    <div>
      <h3>Shipping</h3>
      {{ order.customer.name }}<br />
      {{ order.customer.address.street }}<br />
      {{ order.customer.address.city }}<br />
      {{ order.customer.address.zip }}<br />
      {{ order.customer.address.state }}<br />
      {{ order.customer.address.country }}<br />
    </div>
    <div>
      <h3>Production Subtotal</h3>
      <table>
        <tr>
          <th>SKU</th>
          <th>Amount</th>
          <th>Cost $</th>
          <th>Price $</th>
        </tr>
        <ng-container *ngFor="let item of selectedItems">
          <tr *ngIf="item.selected">
            <td>{{ item.SKU }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.cost / 100 }}</td>
            <td>{{ item.price / 100 }}</td>
          </tr>
        </ng-container>
      </table>

      ...
    </div>
  </div>
  <!-- <pre>{{ order | json }}</pre> -->
</div>
