/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-dialog-container {
  padding: 0 !important;
}

.mat-form-field-appearance-outline {
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}

.w100 {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.link {
  color: #673ab7;
  text-decoration: underline;
  cursor: pointer;
}

.loading-non-modal {
  position: fixed;
  z-index: 99999;
  height: 100px;
  width: 100px;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.product-variant-select {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      .mat-form-field-infix {
        width: 250px;
      }
    }
  }
}
